@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Patrick+Hand&family=Zen+Kurenaido&display=swap');

.detail-font {
    font-family: 'Dancing Script', cursive;
    color: grey;
}

.detail-value-font {
    font-family: 'Zen Kurenaido', sans-serif;
    letter-spacing: 4px;
    color: #4d8cab;
}